/* Seccion 1 header */

header #logo {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
}

header center {
width: 42px;
line-height: 42px;
border-radius: 100%;
background: #ccc;
color: white;
}
header center#icono1{
    background: blue;
}
header center#icono2{
    background: green;
}
header center#icono3{
    background: red;
}

